<%- include("partials/header"); -%>

    <div class="sloka-content container">
        <div class="row">
           
            <div class="image col-md-4">
                <img src="../images/sloka_image.jpg" alt="krishna-image">
            </div>
            <div class="slok col-md-8">
                <h3 id="copy_sloka"><%=slokaTelugu%></h3>
                <!-- <button type="button" class="btn btn-primary btn-sm" onClick=copy()>copy</button> -->
            </div>

        </div>
    </div>

<%- include("partials/footer"); -%>